body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%; /* 針對 IE 和 Edge */
  text-size-adjust: 100%; /* 標準屬性 */
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 8px;
}
[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}
.header span {
  font-size: 24px;
  font-weight: bold;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #3498db;
  font-size: 16px;
}
.btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #2980b9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  white-space: nowrap; /* 禁止文字換行 */
  overflow: hidden; /* 隱藏超出內容 */
  text-overflow: ellipsis; /* 超出內容顯示省略號 */
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

tr.disabled {
  background-color: #f9f9f9;
  color: #aaa;
}

.measure-table th:first-child,
.measure-table td:first-child {
  width: 40px !important; /* 點名欄寬度 */
}

.measure-table th:nth-child(2),
.measure-table td:nth-child(2) {
  width: 40px !important; /* 座號欄寬度 */
}

.measure-table th:nth-child(3),
.measure-table td:nth-child(3) {
  width: 80px !important; /* 姓名欄寬度 */
}
.measure-table th:nth-child(4),
.measure-table td:nth-child(4) {
  width: 40px !important; /* 姓名欄寬度 */
}

.nav-tabs {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.nav-tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.2s;
}

.nav-tab:hover,
.nav-tab.active {
  background-color: #f5f5f5;
  font-weight: bold;
}

/* 修改 nav-tab 的樣式，讓 active 狀態有灰底顏色 */
.nav-tab.active {
  background-color: #e0e0e0; /* 灰底顏色 */
  font-weight: bold;
}

/*載入動畫*/
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.loading .dot {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  animation: loading-animation 1.5s infinite ease-in-out;
}
.loading .dot:nth-child(2) {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loading-animation {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

#loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* 為表格下方的按鈕容器新增樣式，增加與表格的距離 */
.table-action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

#broadcast {
  position: fixed; 
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%); 
  z-index: 1000; /* 確保在所有元素上方 */
  display: flex;
  flex-direction: column; /* 垂直排列 */
  justify-content: center;
  align-items: center;
  width: 900px;
  padding: 20px;
  background-color: rgba(247, 249, 253, 0.9); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; /* 圓角 */
}

#broadcast #name {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px; /* 與按鈕組件分隔 */
  text-align: center;
}

#broadcast .buttons-container {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#broadcast img {
  border: none;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 0 120px; /* 按鈕之間的水平間距 */
  cursor: pointer;
  transition: transform 0.2s; /* 添加縮放動畫 */
}

#broadcast img:hover {
  transform: scale(1.1); /* 滑過時放大 */
}
table.measure-table tr.highlight {
  background-color: #2980b9; 
  color: white; 
  font-weight: bold; 
  transition: background-color 0.3s ease; /* 添加過渡效果 */
}