/* 針對量測表格的樣式 */
.measure-table th,
.measure-table td {
  text-align: center; /* 文字置中 */
  padding: 8px;
  white-space: nowrap; /* 禁止文字換行 */
  overflow: hidden; /* 隱藏超出內容 */
  text-overflow: ellipsis; /* 超出內容顯示省略號 */
}

